.board {
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 5rem);
  padding-top: 5rem;
  display: flex;
  gap: 3rem;
  position: relative;
}

.correct {
  background-color: #00bf63;
}

.wrong {
  background-color: #fa0000;
}

.leftSide {
  position: absolute;
  width: 50%;
  text-align: end;
  left: 3%;
}

.rightSide {
  width: 50%;
  position: absolute;
  right: 0;
}

.question {
  width: 40%;
  position: absolute;
  top: 22rem;
  right: 55%;
  font-size: 12.8rem;
}

.currentResults {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.5rem;
}

.answers {
  position: relative;
  margin-left: 9rem;
}

.answer {
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  text-align: center;
}

.answer:hover {
  transform: scale(1.1);
}

.optionDiv {
  position: absolute;
  top: 5.2rem;
  left: 0.4rem;
  text-align: center !important;
  width: 100% !important;
  height: 7.7rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.option {
  font-size: 9rem;
  line-height: 12rem;
}

.answer1 {
  position: absolute;
  top: 15rem;
  right: 44%;
}

.answer2 {
  position: absolute;
  top: 44rem;
  right: 32%;
}

.answer3 {
  position: absolute;
  top: 28rem;
  right: 68%;
}

.black {
  color: #2d2d2d;
}

.green {
  color: #00bf63;
}

@media (max-width: 64em) {
  html {
    font-size: 32.5%;
  }

  .question {
    right: 61%;
  }
}

@media (min-width: 143em) {
  .question {
    right: 40%;
  }
}
