* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 55%;
}

body {
  font-family: 'Handlee', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2d2d;
  color: #fff;
}

@media (max-width: 90em) {
  html {
    font-size: 40%;
  }
}
